
body {
  background-color: OldLace;
}

.track-title {
  font-style: oblique;
  text-align: center;
  cursor: pointer;
}

label {
    display: block;
    background: lightgrey;
    width: 100px;
    height: 100px;
}
