
body {
  background-color: OldLace;
}

.track-title {
  font-style: oblique;
  text-align: center;
  cursor: pointer;
}

.playing {
  position: absolute; top:32px; left:10px;
  color: BlueViolet;
  font-style: normal;
}
